/* font import  */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
/* global style  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  font-family: "Roboto", sans-serif;
}
input:focus {
  outline: none;
}
h4 {
  font-size: 22px;
}
button {
  color: #fff;
  background-color: rgba(89, 164, 255, 0.89);
  padding: 14px 57px;
  font-size: 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}
/* header and heading style */
header h1 {
  text-align: center;
  margin: 48px 0;
}
label {
  padding-right: 20px;
}
input {
  background-color: rgb(220, 220, 220);
  padding: 10px 18px;
  border: none;
  border-radius: 5px;
  text-align: center;
  font-size: 18px;
}

/* main style  start*/
main {
  width: 100%;
  padding: 0 65px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  align-items: center;
}

main .img img {
  width: 100%;
}
main .calculation-column {
  text-align: center;
  background-color: rgb(248, 248, 248);
  padding: 30px 20px;
}
main .calculation-column h4 {
  font-size: 24px;
  padding: 20px 0;
}
main .calculation-column .input-box {
  display: grid;
  grid-template-columns: 1fr 2fr 0.5fr;
  align-items: center;
  text-align: right;

  margin-bottom: 20px;
}

main .calculation-column .saving {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
}
.error {
  background-color: rgb(255, 0, 0);
  width: 70%;
  margin: 20px auto;
  color: #fff;
  border-radius: 20px;
  padding: 20px 0;
  display: none;
}
/* main style end  */

/* mobile responsive start  */
@media (max-width: 768px) {
  main {
    grid-template-columns: 1fr;
    gap: 10px;
    padding: 20px;
  }
  main .img img {
    width: 100%;
  }
}
/* mobile responsive end  */
